<section class="">
  <div class="image">
    {% set image = block.image[0] ?? null %}
    {% include '_elements/lazy-image' %}
  </div>
  <div class="px-4 text md:px-0">
    {{ block.text }}
  </div>
</section>
